.header__top {
    background-color: #EAE3DA;
  }
  .header__top .navbar-brand img {
    width: 100px;
  }
  .header__top .nav-item {
    padding: 0 30px 0 30px;
  }
  .header__top .nav-link {
    text-decoration: none;
    color: #422A19;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-weight: bold;
  }
  .header__top .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .header__top .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .header__top .dropdown-menu a:hover {
    background-color: #ddd;
  }
  .header__top .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .header__banner .header__banner--img img {
    width: 100%;
  }